
@import url('./themes/colors.css');

.cabecera{
    display: flex;
    background-color: #1b3039;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.cabecera .logo{
    cursor: pointer;
    margin-right: auto;
}

.cabecera .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.cabecera .logo img:hover{
    transform: scale(1.04);
}

.cabecera .links{
    display: flex;
    list-style: none;
    padding: 5px ;
}

.cabecera .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.cabecera .links li{
    padding: 0 20px;
    transition: all 0.3s;
}

.cabecera .links li:hover{
    transform: scale(1.1);
}

.cabecera .links a{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

.cabecera .links .roles{
    border-radius: 6px;
    padding: 10px;
}

.cabecera .links .roles.b{
    background-color: #214d5f;
}

.cabecera .links .roles.a{
    color: white;
    background: linear-gradient(27deg, var(--color-gradiant_2) 0%, var(--color-gradiant_1) 100%);;
}

.cabecera .links li a:hover{
    color: var(--color-gradiant_2)
}


.cabecera .log-button{
    color: #1b3039;
    font-weight: bolder;
    padding: 9px 25px;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: all .3s ;
}

.cabecera .log-button.out{
    background-color: var(--color-gradiant_1);
}

.cabecera .log-button.in{
    background-color: var(--color-gradiant_2);
}

.cabecera .log-button:hover{
    color: white;
    transform: scale(1.2);
}

/* .cabecera {
    display: flex;
    background-color: #1b3039;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: relative;
}


.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.cabecera .links {
    display: flex;
    list-style: none;
    padding: 5px;
}

.cabecera .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.cabecera .links.open {
    display: block;
}

.cabecera .links ul {
    flex-direction: column;
}

.cabecera .log-button {
    color: #1b3039;
    font-weight: bolder;
    padding: 9px 25px;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .cabecera .links {
        display: none;
        position: absolute;
        top: 85px;
        right: 0;
        background-color: #1b3039;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
    }

    .cabecera .links ul {
        flex-direction: column;
        text-align: center;
    }

    .cabecera .log-button {
        display: block;
        margin: 10px auto;
        width: 80%;
    }

    .cabecera .links.open {
        display: flex;
    }
} */
